#header{
    background-color: rgb(255, 255, 255);
    display:inline-block;
    width: 101%;
    margin-top: -10px ;
    margin-left: -10px;
    margin-right: -10px;
    
}
#navigation {
    
    list-style-type: none;
    margin-top: 19px;
    padding: 10px;
    margin-right: 80px;
    float: right;
   
  }
  
.nav {
    font-size: 25px;
    display: inline;

  }

  #navigation2 {
    
    list-style-type: none;
    margin-top: 19px;
    padding: 10px;
    margin-right: 80px;
    float: left;
   
  }
  
.nav2 {
    font-size: 25px;
    display: inline;

  }


body {
    background: #202020;
    color: white;
}
button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}

#stopwatchh {
    font-size: 100px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -55%);
}

#tugas {
    font-size: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -55%);
}

#buttons {
    position: absolute;
    top: 55%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}